@tailwind base;
@tailwind components;
@tailwind utilities;

.font-outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.font-manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.text-stroke-primary {
  color: #181A1D;
	text-shadow: -1px 1px 0 #EEEEEE,
				  1px 1px 0 #EEEEEE,
				 1px -1px 0 #EEEEEE,
				-1px -1px 0 #EEEEEE;  
}

body{
  background-color: #181A1D;
}

html{
  overflow-x: hidden;
  overflow-y: hidden;
}

.bg-primary-gradient{
  background-image: url("src/assets/PrimaryGradient.png");
  background-attachment: fixed;
  background-position: top left;
  background-size:cover;
}

.bg-secondary-gradient{
  background-image: url("src/assets/SecondaryGradient.png");
  background-attachment: fixed;
  background-position: top left;
  background-size:cover;
}

input{
  position: relative;
  z-index: 10;
}

#background-wrapper{
  pointer-events: none;
}

#slider {
  z-index: 10;
}

.overflow-visible {
  overflow: visible !important; /* or any other value you want */
}
